.navbar {
    background-color: white;
    padding: 10px;
}

body {
    background-color: lightgray;
}

.summary {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.visualizations {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comps {
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}

.data {
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}

.plots {
    background-color: white;
    margin-top: 40px;
    padding: 10px;
}

.selected {
    border-style: solid;
    border-color: turquoise;
    border-width: 2px;
}



.navbar-brand {
    color: white;
    background-color: rgb(73,170,165);
    padding: 10px;
}

.summary h2 {
    color: rgb(73,170,165);
}

.visualizations h3 {
    color: rgb(73,170,165);
}

.comps h2{
    color: rgb(73,170,165);
}

.comps .text-center {
    color: rgb(73,170,165);
}

.data h2{
    color: rgb(73,170,165); 
}

.plots h2{
    color: rgb(73,170,165); 
}

@media (max-width : 768px) {
    .navbar {
    background-color: rgb(73,170,165);
  }
}